<%= turbo_frame_tag "edit" do %>
<h1>Edit Booking</h1>

<%= form_with model: @booking, local: true do |form| %>
  <div class="form-group my-4">
    <%= form.label :date, 'Date' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :time, 'Time' %>
    <%= form.time_field :time, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :psychologist_id, 'Psychologist' %>
    <%= form.collection_select :psychologist_id, Psychologist.includes(:user).all, :id, :user_name, { prompt: 'Select Psychologist' }, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :link_to_meet, 'Link to Meet' %>
    <%= form.text_field :link_to_meet, class: 'form-control' %>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to 'Cancelar', bookings_path, class: 'btn btn-outline-secondary rounded-pill mx-2' , data: { turbo_frame: "_top" } %>
    <%= form.submit 'Actualizar reserva', class: 'btn btn-primary rounded-pill mx-2', data: { turbo_frame: "_top" }%>
  </div>


<% end %>
<% end %>
