<%= turbo_frame_tag "edit" do %>
<div class="container">
  <h1 class="fs-3"><%= @booking.user.name %></h1>

  <%= form_with model: @booking, local: true do |form| %>
    <div class="form-group my-4">
      <%= form.label :date, 'Fecha' %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>
    <div class="form-group my-4">
      <%= form.label :time, 'Hora de inicio' %>
      <%= form.time_field :time, class: 'form-control' %>
    </div>
    <div class="form-group my-4">
      <%= form.label :end_time, 'Hora de finalización' %>
      <%= form.time_field :end_time, class: 'form-control' %>
    </div>

    <div class="form-group my-4">
      <%= form.label :link_to_meet, 'Enlace para la videollamada' %>
      <%= form.text_field :link_to_meet, class: 'form-control' %>
    </div>

    <div>
      <div data-controller="daily-video" data-daily-video-target="daily" data-daily-video-videocall-value= <%= @booking.videocall_id %>>
      </div>
    </div>

    <% if @booking.link_to_meet.present? %>
      <div class="form-group my-4">
        <%= link_to @booking.link_to_meet, class: 'btn btn-success rounded-pill w-100 text-white', target: '_blank' do %>
          <i class="fas fa-video me-2"></i> Unirse a la videollamada
        <% end %>
      </div>
    <% end %>

    <div class="d-flex justify-content-end">
      <%= link_to 'Cancelar', users_path, class: 'btn btn-outline-secondary rounded-pill mx-2', data: { turbo_frame: "_top" } %>
      <%= form.submit 'Actualizar reserva', class: 'btn btn-primary rounded-pill mx-2', data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
</div>

<% end %>
