<h1>Edit Booking</h1>

<%= form_with model: @booking, local: true do |form| %>
  <div class="form-group my-4">
    <%= form.label :date, 'Date' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :time, 'Time' %>
    <%= form.time_field :time, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :psychologist_id, 'Psychologist' %>
    <%= form.collection_select :psychologist_id, Psychologist.includes(:user).all, :id, :user_name, { prompt: 'Select Psychologist' }, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.label :link_to_meet, 'Link to Meet' %>
    <%= form.text_field :link_to_meet, class: 'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= form.submit 'Update Booking', class: 'btn btn-primary' %>
    <%= button_to 'Delete Booking', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure you want to delete this booking?' }, class: 'btn btn-danger ms-2' %>
  </div>
<% end %>

<%= link_to 'Back', bookings_path, class: 'btn btn-secondary mt-3' %>
