<% content_for :page_title, "Mis Citas" %>
<div class="container mt-4">
  <h1 class="mx-1 ">Citas</h1>

  <% if @bookings.any? %>
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-md-4 mb-3">
          <div class="card h-100 custom-rounded">
            <div class="card-body d-flex">
              <div class="me-3">
                <% if booking.psychologist.profile_picture.attached? %>
                  <%= cl_image_tag booking.psychologist.profile_picture.key, class: "img-fluid rounded-circle", transformation: { width: 200, height: 200, crop: :fill } %>
                <% else %>
                  <%= image_tag "default_avatar.png", class: "img-fluid rounded-circle", width: 200, height: 200 %>
                <% end %>
              </div>

              <div>
                <h5 class="card-title mb-1"><%= booking.psychologist.full_name %></h5>
                <p class="text-muted mb-2">Cédula: <%= booking.psychologist.document_of_identity %></p>
                <p class="mb-1"><strong>Enfoque:</strong> <%= booking.psychologist.approach %></p>
                <%= link_to "Ver opiniones #{booking.psychologist.reviews.count}", psychologist_reviews_path(booking.psychologist), class: "text-decoration-none mb-2 d-block" %>
                <div class="mb-2">
                  <% booking.psychologist.specialties.each do |specialty| %>
                    <span class="badge bg-secondary me-1"><%= specialty %></span>
                  <% end %>
                </div>
                <p class="mb-1"><strong>Precio por sesión (50 min):</strong> <span class="text-success"><%= number_to_currency(booking.psychologist.price_per_session, unit: booking.psychologist.currency) %></span></p>
                <p class="mb-1"><strong>Fecha:</strong> <%= booking.date.strftime("%d-%m-%Y") %></p>
                <p class="mb-1"><strong>Hora:</strong> <%= booking.time.strftime("%H:%M") %></p>
                <p class="mb-1"><strong>Motivo de consulta:</strong> <%= booking.reason %></p>
              </div>
            </div>

            <div class="card-footer border-top">
              <div class="row">
                <div class="col-12 text-center">
                  <% if booking.payment_status&.status == 'paid' %>
                    <%= link_to 'Videollamada', booking.link_to_meet, class: 'btn btn-success text-white w-100 rounded-pill', target: '_blank' %>
                    <%= link_to 'Acceder al Chat', booking_path(booking), class: 'btn btn-secondary text-white w-100 rounded-pill mt-2' %>
                  <% else %>
                    <%= link_to 'Pagar', payment_booking_path(booking), class: 'btn btn-primary w-100 rounded-pill' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No tienes citas agendadas.</p>
  <% end %>
</div>
