<!-- app/views/bookings/show.html.erb -->
<h1>Chat</h1>
<%= turbo_stream_from @booking %>
<div id="messages" class="border p-3" style="max-height: 400px; overflow-y: auto;" data-controller="scroll" data-scroll-target="messages">
  <% @booking.messages.each do |message| %>
    <%= render partial: "message", locals: { message: message, current_user: current_user } %>
  <% end %>
</div>
<%= simple_form_for [@booking, @message], data: { controller: "clear-input", action: "turbo:submit-end->clear-input#clear" } do |f| %>
  <%= f.input :content, input_html: { id: "content", data: { clear_input_target: "content" } } %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
