<div class="container-fluid p-0" data-controller="calendar">
  <% content_for :page_title, "Incio" %>
  <div class="row h-100 no-gutters">
    <div class="col-md-10 p-0">
      <div class="calendar-container h-100 d-flex flex-column">
        <div class="calendar-header py-3 bg-white border-bottom">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">
              <i class="fas fa-calendar-alt me-2"></i>
              <%= @start_date.strftime("%B %d") %> - <%= (@start_date + 6.days).strftime("%B %d, %Y") %>
            </h2>
            <div>
              <%= link_to users_path(start_date: (@start_date - 1.week).to_s), class: 'btn btn-outline-secondary me-2' do %>
                <i class="fas fa-chevron-left me-1"></i> Previous Week
              <% end %>
              <%= link_to users_path(start_date: (@start_date + 1.week).to_s), class: 'btn btn-outline-secondary' do %>
                Next Week <i class="fas fa-chevron-right ms-1"></i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="calendar-body flex-grow-1 overflow-auto position-relative">
          <!-- Line indicating current time -->
          <div id="current-time-line" class="current-time-line" data-calendar-target="currentTimeLine"></div>

          <div class="week-container">
            <div class="week-header">
              <!-- Header for the time column -->
              <div class="time-column-header">
                <strong>Hora</strong>
              </div>
              <% (0..6).each do |day_index| %>
                <% date = @start_date + day_index.days %>
                <div class="day-header <%= 'today' if date == Date.today %>">
                  <%= date.strftime("%a %d") %>
                </div>
              <% end %>
            </div>
            <div class="week-body">
              <!-- Time slots on the left -->
              <div class="time-slots">
                <% (0..23).each do |hour| %>
                  <div class="time-slot">
                    <%= Time.parse("#{hour}:00").strftime("%I %p") %>
                  </div>
                <% end %>
              </div>

              <% (0..6).each do |day_index| %>
                <% date = @start_date + day_index.days %>
                <div class="day-column">
                  <% @bookings.select { |b| b.date == date }.each do |booking| %>
                    <%= link_to edit_booking_path(booking), data: { turbo_frame: "edit" } do %>
                    <% booking_start_hour = booking.time.strftime("%H").to_i %>
                    <% booking_start_minute = booking.time.strftime("%M").to_i %>
                    <% booking_end_hour = booking.end_time.strftime("%H").to_i %>
                    <% booking_end_minute = booking.end_time.strftime("%M").to_i %>
                    <% booking_duration = (booking_end_hour * 60 + booking_end_minute) - (booking_start_hour * 60 + booking_start_minute) %> <!-- Calcular la duración real -->
                    <div class="booking mb-2 p-2 rounded position-absolute" style="top: <%= (booking_start_hour * 60 + booking_start_minute) %>px; height: <%= booking_duration %>px; border-left: 5px solid <%= booking_color(booking) %>;">
                      <div class="booking-title font-weight-bold"><%= booking.user.name %></div>
                      <div class="booking-time"><%= booking.time.strftime("%I:%M %p") %> - <%= booking.end_time.strftime("%I:%M %p") %></div>
                      <div class="booking-actions mt-2">
                        <%= link_to edit_booking_path(booking), class: 'btn btn-primary btn-sm' do %>
                          <i class="fa fa-pencil"></i>
                        <% end %>
                        <%= link_to booking.link_to_meet, target: '_blank', class: 'btn btn-primary btn-sm' do %>
                          <i class="fa fa-video"></i>
                        <% end %>
                      </div>
                    </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-2 bg-light p-4">
      <div class="booking-form-wrapper">
        <div class="booking-form-container h-100 bg-light border-left p-4 overflow-auto">
          <%= turbo_frame_tag "edit" do %>
            <h2 class="mb-4">Create Booking</h2>
            <%= form_with model: Booking.new, url: bookings_path, local: true do |form| %>
              <div class="mb-3">
                <%= form.label :date, 'Date', class: 'form-label' %>
                <%= form.date_field :date, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :time, 'Time', class: 'form-label' %>
                <%= form.time_field :time, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :end_time, 'End Time', class: 'form-label' %>
                <%= form.time_field :end_time, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :psychologist_id, 'Psychologist', class: 'form-label' %>
                <%= form.collection_select :psychologist_id, Psychologist.includes(:user).all, :id, :user_name, { prompt: 'Select Psychologist' }, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :link_to_meet, 'Link to Meet', class: 'form-label' %>
                <%= form.text_field :link_to_meet, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.submit 'Create Booking', class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
