<div class="container-fluid p-0" data-controller="calendar">
  <% content_for :page_title, "Inicio" %>
  <div class="row h-100 no-gutters">
    <div class="col-md-10 p-0">
      <div class="calendar-container h-100 d-flex flex-column">
        <div class="calendar-header py-3 bg-white border-bottom" style="border-radius: 1.5rem 1.5rem 0rem 0rem;">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">
              <i class="fa-solid fa-calendar me-2 mx-1"></i>
              <%= I18n.l(@start_date, format: '%d de %B') %> - <%= I18n.l(@start_date + 6.days, format: '%d de %B de %Y') %>
            </h2>
            <div>
              <%= link_to users_path(start_date: (@start_date - 1.week).to_s), class: 'btn btn btn-light rounded-pill me-2' do %>
                <i class="fas fa-chevron-left me-1"></i> Semana anterior
              <% end %>
              <%= link_to users_path(start_date: (@start_date + 1.week).to_s), class: 'btn btn btn-light rounded-pill' do %>
                Pr贸xima semana <i class="fas fa-chevron-right ms-1"></i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="calendar-body flex-grow-1 overflow-auto position-relative">
          <!-- Line indicating current time -->
          <div id="current-time-line" class="current-time-line" data-calendar-target="currentTimeLine"></div>

          <div class="week-container">
            <div class="week-header">
              <!-- Header for the time column -->
              <div class="time-column-header">
                <strong>Hora</strong>
              </div>
              <div class="day-headers-container">
                <% (0..6).each do |day_index| %>
                  <% date = @start_date + day_index.days %>
                  <div class="day-header <%= 'today' if date == Date.today %>">
                    <%= I18n.l(date, format: '%a %d') %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="week-body">
              <!-- Time slots on the left -->
              <div class="time-slots">
                <% (0..23).each do |hour| %>
                  <div class="time-slot">
                    <%= I18n.l(Time.parse("#{hour}:00"), format: '%I %p') %>
                  </div>
                <% end %>
              </div>

              <div class="day-columns-container">
                <% (0..6).each do |day_index| %>
                  <% date = @start_date + day_index.days %>
                  <div class="day-column <%= 'today-column' if date == Date.today %>">
                    <% @bookings.select { |b| b.date == date }.each do |booking| %>
                      <%= link_to edit_booking_path(booking), data: { turbo_frame: "edit" } do %>
                        <% booking_start_hour = booking.time.strftime("%H").to_i %>
                        <% booking_start_minute = booking.time.strftime("%M").to_i %>
                        <% booking_end_hour = booking.end_time.strftime("%H").to_i %>
                        <% booking_end_minute = booking.end_time.strftime("%M").to_i %>
                        <% booking_duration = (booking_end_hour * 60 + booking_end_minute) - (booking_start_hour * 60 + booking_start_minute) %>
                        <div class="booking mb-2 p-2 rounded position-absolute" style="top: <%= (booking_start_hour * 60 + booking_start_minute) %>px; height: <%= booking_duration %>px; border-left: 5px solid <%= booking_color(booking) %>;">
                          <div class="booking-title font-weight-bold"><%= booking.user.name %></div>
                          <div class="booking-time">
                            <%= I18n.l(booking.time, format: '%I:%M %p') %> - <%= I18n.l(booking.end_time, format: '%I:%M %p') %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 bg-light p-4">
      <div class="booking-form-wrapper">
        <div class="booking-form-container h-100 bg-light border-left p-4 overflow-auto">
          <%= turbo_frame_tag "edit" do %>
            <h2 class="mb-4 fs-3">Nueva reserva</h2>
            <%= form_with model: Booking.new, url: bookings_path, local: true do |form| %>
              <div class="mb-3">
                <%= form.label :date, 'Fecha', class: 'form-label' %>
                <%= form.date_field :date, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :time, 'Hora de inicio', class: 'form-label' %>
                <%= form.time_field :time, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :end_time, 'Hora de finalizaci贸n', class: 'form-label' %>
                <%= form.time_field :end_time, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :psychologist_id, 'Psic贸logo', class: 'form-label' %>
                <%= form.collection_select :psychologist_id, Psychologist.includes(:user).all, :id, :user_name, { prompt: 'Seleccionar Psic贸logo' }, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.label :link_to_meet, 'Enlace para la videollamada', class: 'form-label' %>
                <%= form.text_field :link_to_meet, class: 'form-control' %>
              </div>
              <div class="mb-3">
                <%= form.hidden_field :user_id, value: current_user.id %>
                <div class="d-flex justify-content-end">
                  <%= form.submit 'Crear una reserva', class: 'btn btn-primary rounded-pill mx-2' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
