<div class="container">
  <h1>Notas del Proceso para <%= @user.name %></h1>

  <%= form_with(model: @user, url: update_medical_record_user_path(@user), method: :patch, local: true) do |form| %>
    <div class="editor-wrapper">
      <div class="editor-toolbar">
        <%= form.label :medical_record, "Notas del Proceso", class: "form-label" %>
        <%= form.rich_text_area :medical_record, class: "trix-content" %>
      </div>
    </div>
    <div class="actions my-3">
      <%= form.submit "Guardar Notas", class: "btn btn-primary rounded-pill " %>
    </div>
  <% end %>


</div>
