<div class="sidebar d-flex flex-column p-2 bg-white fixed-left py-4" style="width: 175px; height: 100vh; position: fixed;">
  <ul class="nav flex-column mb-auto text-center">
    <% if user_signed_in? %>
      <% if current_user&.psychologist.present? %>
        <!-- Links para psicólogos -->
        <li class="nav-item mb-3">
          <%= link_to users_path, class: "nav-link #{current_page?(users_path) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fa-solid fa-house mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;">Inicio</span>
          <% end %>
        </li>
        <li class="nav-item mb-3">
          <%= link_to user_requests_psychologist_path(current_user.psychologist), class: "nav-link #{current_page?(user_requests_psychologist_path(current_user.psychologist)) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fa-solid fa-users mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;">Solicitudes</span>
          <% end %>
        </li>
        <li class="nav-item mb-3">
          <%= link_to psychologist_path(current_user.psychologist), class: "nav-link #{current_page?(psychologist_path(current_user.psychologist)) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fa-solid fa-file-invoice mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;">Mi Servicio</span>
          <% end %>
        </li>
        <!-- Solo para hacer pruebas -->
        <li class="nav-item mb-3">
          <%= link_to pages_home_path, class: "nav-link #{current_page?(pages_home_path) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fa-solid fa-user-doctor mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;"> Psicólogos</span>
          <% end %>
        </li>
        <!-- Fin -->
      <% else %>
        <!-- Links para usuarios regulares -->
        <li class="nav-item mb-3">
          <%= link_to root_path, class: "nav-link #{current_page?(root_path) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fa-solid fa-user-doctor mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;">Psicólogos</span>
          <% end %>
        </li>
        <li class="nav-item mb-3">
          <%= link_to user_bookings_path(current_user), class: "nav-link #{current_page?(user_bookings_path(current_user)) ? 'active ' : 'text-secondary'} d-flex flex-column align-items-center py-4 rounded-pill" do %>
            <i class="fas fa-calendar-check mb-3" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1rem;">Mis Citas</span>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <!-- Link para usuarios no registrados -->
      <li class="nav-item mb-3">
        <%= link_to new_user_session_path, class: "nav-link #{current_page?(new_user_session_path) ? 'active' : 'text-secondary'} d-flex flex-column align-items-center" do %>
          <i class="fas fa-sign-in-alt fa-sm mb-1"></i>
          <span style="font-size: 1rem;">Login</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
