<!------------------- Contenedor Principal  ------------------->
<div class="container d-flex justify-content-center align-items-center min-vh-100">

  <!------------------- Contenedor de Registro de Psicólogo  ------------------->
  <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!------------------- Left Box ------------------->
    <div class="col-md-6 left-box">
      <div class="row align-items-center mx-2">
        <div class="header-text mb-4 mt-3">
          <h3>Únete a Solvify como Psicólogo</h3>
          <h5>Ayuda a mejorar el bienestar de los demás.</h5>
          <p class="text-secondary fs-6">Ofrece tus servicios de terapia en línea para una mente sana y equilibrada.</p>
        </div>

        <%= simple_form_for(@psychologist, url: psychologists_path) do |f| %>
          <%= f.error_notification %>

          <!-- Título y Documento de Identidad -->
          <div class="row">
            <div class="form-group col-sm-6">
              <%= f.input :degree, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Título' %>
            </div>

            <div class="form-group col-sm-6">
              <%= f.input :document_of_identity, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Documento de Identidad' %>
            </div>
          </div>

          <!-- Precio por Hora y Enfoque -->
          <div class="row mb-3">
            <div class="form-group col-sm-6">
              <%= f.input :price_per_hour, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Precio por Hora' %>
            </div>

            <div class="form-group col-sm-6">
              <%= f.input :approach, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Enfoque' %>
            </div>
          </div>

          <!-- Idiomas -->
          <div class="form-group mb-3">
            <%= f.input :languages, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Idiomas' %>
          </div>

          <!-- País y Moneda -->
          <div class="row">
            <div class="form-group col-sm-6">
              <%= f.input :nationality, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'País' %>
            </div>

            <div class="form-group col-sm-6">
              <%= f.input :currency, collection: Psychologist::CURRENCIES, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: false, placeholder: 'Moneda' %>
            </div>
          </div>

          <!-- Especialidades -->
          <div class="form-group mb-3">
            <%= f.input :specialties, collection: Psychologist::SPECIALTIES, as: :check_boxes, required: true, input_html: { class: 'form-control form-control-lg bg-light fs-6' }, label: 'Especialidades' %>
          </div>

          <!-- Botón de Registro -->
          <div class="form-actions mb-1">
            <%= f.button :submit, "Registrarse como Psicólogo", class: "btn btn-lg btn-primary w-100 fs-6 rounded-pill" %>
          </div>
        <% end %>

        <div class="text-center mt-4">
          <%= link_to "Volver", root_path, class: 'text-dark' %>
        </div>

      </div>
    </div>

    <!------------------- Right Box ------------------->
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column right-box" style="background: #F5F8E5">
      <div class="featured-image">
        <%= image_tag "signup-ic.jpg", alt: "Registro de Psicólogo", class: "img-fluid" %>
      </div>
    </div>

  </div>
</div>
