<h2>Registrarse como Psicólogo</h2>

<%= simple_form_for(@psychologist, url: psychologists_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :specialty, required: true %>
    <%= f.input :degree, required: true %>
    <%= f.input :document_of_identity, required: true %>
    <%= f.input :price_per_hour, required: true %>
    <%= f.input :approach, required: true %>
    <%= f.input :languages, required: true %>
    <%= f.input :nationality, required: true %>
    <%= f.input :currency, collection: Psychologist::CURRENCIES, required: true %>
    <%= f.input :specialties, collection: Psychologist::SPECIALTIES, as: :check_boxes, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrarse como Psicólogo" %>
  </div>
<% end %>

<%= link_to "Volver", root_path %>
