<h2>Opiniones para <%= @psychologist.full_name %></h2>
<h4>Calificaci칩n promedio: <%= render 'shared/star_rating', rating: @psychologist.average_rating %><span class="ms-2"><%= @psychologist.average_rating %></span></h4>

<%= link_to "Escribir una rese침a", new_psychologist_review_path(@psychologist), class: "btn btn-primary mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">Rese침a</th>
      <th class="text-center">Calificaci칩n</th>
      <th class="text-center">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.comments %></td>
        <td class="text-center">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <%= render 'shared/star_rating', rating: review.ratings %>
            <span class="ms-2"><%= review.ratings %></span>
          </div>
        </td>
        <td class="text-center"><%= review.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
