<section class="container pb-5 mb-1 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
  <h2 class= "mb-5">Nueva Reseña para <%= @psychologist.full_name %></h2>

  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for [@psychologist, @review] do |f| %>
          <%= f.input :comments, label: "Comentario"  %>
          <%= f.input :ratings, collection: (1..5).to_a, label: "Evalúa tu grado de conformidad", input_html: { data: { controller: "star-rating" } }, class: "mb-5" %>
          <%= f.submit "Send your review", class: "btn btn-primary w-100 rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
