<h2>Nueva Reseña para <%= @psychologist.full_name %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@psychologist, @review] do |f| %>
        <%= f.input :comments %>
        <%= f.input :ratings, collection: (1..5).to_a, label: "Rate your experience", input_html: { data: { controller: "star-rating" } } %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
