<h2>Nueva Reseña para <%= @psychologist.full_name %></h2>

<%= form_with model: [@psychologist, @review] do |form| %>
  <div class="mb-3">
    <%= form.label :comments, "Reseña" %>
    <%= form.text_area :comments, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :ratings, "Calificación" %>
    <%= form.number_field :ratings, class: "form-control", min: 1, max: 5 %>
  </div>

  <div class="mb-3">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
