<!DOCTYPE html>
<html>
<head>
  <title>Solvify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'logo-solvify.svg' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <%= javascript_importmap_tags %>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
  <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
</head>

<body>
  <% if user_signed_in? %>
    <% unless controller_name == 'psychologists' && action_name == 'new' || controller_name == 'psychologists' && action_name == 'create' %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/topbar' %>
      <div class="content-wrapper" style="margin-top: 60px; margin-left: 175px;">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    <% else %>
      <div class="content-wrapper">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    <% end %>
  <% else %>
    <% unless controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div class="content-wrapper">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
