<!DOCTYPE html>
<html>
<head>
  <title>Solvify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <% if user_signed_in? %>
    <%= render 'shared/sidebar' %>
    <%= render 'shared/topbar' %>
    <div class="content-wrapper" style="margin-top: 60px; margin-left: 175px;">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  <% else %>
    <% unless controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div class="content-wrapper">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
